.landing-page {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 10px;
    justify-items: center;
    max-width: 1000px;
    margin: auto;
}

.landing-page-title {
    text-align: center;
    margin-bottom: 50px;
}

.landing-page-text {
    text-align: center;
}

.landing-page-text p {
    font-size: 30px;
}