
.cart-details-page {
  box-sizing: border-box;
}
.cart-details-page h2, .cart-details-page h3{
  color: #5A7684;
  font-size: 16px;
}
.cart-info p{
  color: #51585b7a;
  font-size: 12px;
  margin-top: -10px;
}
.cart-details-page {
  padding: 40px;
  background-color: #f5f5f5;
  border-radius: 15px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: 20px auto;
  border: 2px solid #bcebd475;
  padding: 30px;
  box-shadow: 0 8px 46px #bcebd4;
}
.cart-details-page img{
  width: 100px;
  height:100px;
}

.cart-item-tile {
  background: #ffffff;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-info {
  margin-top: 30px;
  font-size: 18px;
}

/* Checkout button */
.cart-details-page .checkout-button button {
  background-color: #749aad;
  color: white;
  padding: 12px 24px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 20px;
}

.cart-details-page .checkout-button button:hover {
  background-color: #92cfb1;
  color: white;
  transform: scale(1.05);
}

.cart-details-page h3 {
  margin-top: 40px;
}

.cart-details-page .best-sellers-bar {
  margin-top: 20px;
}

.cart-buttons {
  display: flex;
  align-items: center;
}

/* Responsive design adjustments */
@media (max-width: 768px) {
  .cart-item-tile {
    flex-direction: column;
    height: auto;
  }

  .cart-details-page {
    padding: 20px;
  }
}