.best-sellers-wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto 100px;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    transition: transform 0.8s ease;
}

.best-sellers-title {
    text-align: center;
    margin: 0 0 10px;
    font-size: 1.4em;
    color: #7e8183b0;
}

.best-sellers-bar {
    overflow-x: auto;
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 15px;
    background-color: #bcebd4;
    box-sizing: border-box;
}
.best-sellers-wrapper:hover{
    transform: scale(1.05);
}

.best-sellers-bar::-webkit-scrollbar {
    height: 12px;
}

.best-sellers-bar::-webkit-scrollbar-track {
    background: #bcebd4;
    border-radius: 8px;
}

.best-sellers-bar:hover::-webkit-scrollbar-thumb {
    background-color: #a1a1a167;
}

.best-sellers-content {
    display: flex;
    gap: 10px;
    padding: 10px 0;
}

.product-tiles {
    flex: 0 0 auto;
    width: 200px;
}


@media (max-width: 1000px) {
    .best-sellers-wrapper {
        width: 100%;
        padding: 10px;
    }
}
